## Document Classification

For this assignment I used text messages that were labeled as 'spam' or 'ham' (https://raw.githubusercontent.com/wtznc/Naive-Bayes-SMS-Spam-Collection/master/SMSSpamCollection).
This problem belong to supervised learning.  The goal of this assignment is to find the classifier that can predict whether text mesage belong to 'spam' or 'ham' category with higher accuracy.

In [50]:
import pandas as pd
import numpy as np
import re
from sklearn.model_selection import train_test_split
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
import csv
from textblob import TextBlob
import pandas
import sklearn
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC, LinearSVC
from sklearn.metrics import classification_report, f1_score, accuracy_score, confusion_matrix
from sklearn.pipeline import Pipeline
from sklearn.grid_search import GridSearchCV
from sklearn.cross_validation import StratifiedKFold, cross_val_score, train_test_split 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.learning_curve import learning_curve

I read data from scv file.

In [83]:
df = pd.read_csv('spam.csv',names=['category','text message'],skiprows=1,encoding='latin-1')
df.head()

  category                                       text message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In order to use tf-idf model on the text I did the following:

1. Converted all upper case letters to lower case letters.
2. Removed punctuations.
3. Removed English stopwordds such as articles and prepositions.
4. Normalized words into their base form - lemmas

In [84]:
#converted to lower case letters
df['text message'] = df['text message'].str.lower()
df.head()

  category                                       text message
0      ham  go until jurong point, crazy.. available only ...
1      ham                      ok lar... joking wif u oni...
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham  u dun say so early hor... u c already then say...
4      ham  nah i don't think he goes to usf, he lives aro...

In [85]:
# remove punctuation
df['text message'] = df['text message'].str.replace(r'[^\w\s]','')
df.head()

  category                                       text message
0      ham  go until jurong point crazy available only in ...
1      ham                            ok lar joking wif u oni
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham        u dun say so early hor u c already then say
4      ham  nah i dont think he goes to usf he lives aroun...

In [86]:
# remove stopwords
stop_words = set(stopwords.words('english'))

df['text message'] = df['text message'].apply(word_tokenize) 
for i in range(0,len(df['text message'])):
    df['text message'][i] =[w for w in df['text message'][i] if w not in stop_words]
    df['text message'][i] = ' '.join(w for w in df['text message'][i])
    
df.head()

  category                                       text message
0      ham  go jurong point crazy available bugis n great ...
1      ham                            ok lar joking wif u oni
2     spam  free entry 2 wkly comp win fa cup final tkts 2...
3      ham                u dun say early hor u c already say
4      ham        nah dont think goes usf lives around though

In [87]:
# take words to "base form" = lemma 
def split_into_lemmas(message):
    words = TextBlob(message).words
    return [word.lemma for word in words]
df['text message'].head().apply(split_into_lemmas)

0    [go, jurong, point, crazy, available, bugis, n...
1                       [ok, lar, joking, wif, u, oni]
2    [free, entry, 2, wkly, comp, win, fa, cup, fin...
3        [u, dun, say, early, hor, u, c, already, say]
4    [nah, dont, think, go, usf, life, around, though]
Name: text message, dtype: object

After that I converted each text message into vector that machine learning models can understand.

In [88]:
text_transformer = CountVectorizer(analyzer=split_into_lemmas).fit(df['text message'])
messages_bow = text_transformer.transform(df['text message'])

I used scikit-learn's TfidfTransformer for weighting and normalization.

In [93]:
tfidf_transformer = TfidfTransformer().fit(messages_bow)
messages_tfidf = tfidf_transformer.transform(messages_bow)

Next I split data into two datasets - training and testing

In [94]:
X = df.iloc[:,1].values
y = df.iloc[:,0].values
train_X, test_X, train_y, test_y  = train_test_split(X, y, test_size=0.3)
train_X, val_X, train_y, val_y  = train_test_split(X, y, test_size=0.3)

Let's train the data set using Naive Bayse Classifier and make prediction using test data set.

In [98]:
spam_detector = MultinomialNB().fit(messages_tfidf, df['category'])
all_predictions = spam_detector.predict(messages_tfidf)

Now let's check accuracy of prediction.

In [101]:
print ('accuracy', accuracy_score(df['category'], all_predictions))
print ('confusion matrix\n', confusion_matrix(df['category'], all_predictions))

accuracy 0.9786432160804021
confusion matrix
 [[4825    0]
 [ 119  628]]

Naive Bayse Classifier returns a pretty hiught accuracy of 97.86$